
:root {
    --bg-color: #f6f6f6;
    --text-color: #1d1d1f;
    --accent-color: rgba(32, 32, 149, 0.71);
    --sct-color: #ede7e7b1;
}

[data-theme="dark"] {
    --bg-color: #1d1d1f;
    --text-color: #f6f6f6;
    --accent-color: #8bd1d1;
    --sct-color: #37373a;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--accent-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

section{
    margin: 20px 0;
    padding: 1px 10px;
    background-color: var(--sct-color);
    box-shadow: 0 4px 8px #4b4b4f;
    border-radius: 10px ;
}
img{
    max-width: 100%;
}

.logo {
    width: 250px;
    border-radius: 10px;
    cursor: pointer;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
}

nav a.active {
    border-bottom: 2px solid var(--accent-color);
}

nav a.active::after {
    visibility: visible;
    width: calc(100% - 4px);
}

main {
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    background-color: var(--bg-color);
    border-top: 1px solid var(--accent-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: center;
}

#theme-toggle {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--accent-color);
}

.flex{
    display: flex;
}
div{
    margin: 1rem;
    max-width: 50%;
}

h3, h2, h1 {
    color: var(--accent-color);
}